 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 295px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 100%;
  margin: 45px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 210px;
  background-image: url("images/9fd8ffc2c6255b737041a18df312170edd440bfd7a52b8b06254ea7cabf92ec65495803efbeba735183691fd3ff91a2b81e8804f30a803591b82ac_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 210px;
}

.u-section-1 .u-container-layout-2 {
  padding: 27px 60px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: -122px 0 23px 390px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 190px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 700px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 295px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 100%;
  margin: 45px 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 210px;
}

.u-section-2 .u-container-layout-1 {
  padding: 27px 60px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-image-1 {
  min-height: 210px;
  background-image: url("images/c85d68e68ce8382d14a397700c78fc3b98412af7f31cd46a44a3cd3f8dbfb315520ffcd7785b9c27fce0bb6069a650e5d06e7a4c26e3f8187d4f49_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-2 {
  margin: -122px 390px 23px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 190px;
    width: 750px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 700px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 295px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 100%;
  margin: 45px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 210px;
  background-image: url("images/14bf01efa0b71dff5c23c43860619ac528a223ac2627ac822a122d2ff388f00cc5212d9e99c16d55ce5cdd6695e351beca0b4243217c1c0701db55_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 210px;
}

.u-section-3 .u-container-layout-2 {
  padding: 27px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: -122px 0 23px 390px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-left: 190px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    min-height: 700px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 546px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 273px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 89px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 273px;
  background-image: url("images/c490344eaecc33c8745b9115a9919a29fa82c5afc71c7636a120a7d8acaf0e1a5853ffc61ae9ea89766b4a95961d8c08e4d5eae0944faa91ca23ea_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 273px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin: 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 273px;
  background-image: url("images/1a21979bb0a582eb561c630a0d8917be0ea79c4ceb3592b18166b8a988e1c8922010463ffb49b364e06f92b1529ff2f531155fe04c7264e4a6fa1e_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  min-height: 273px;
  background-image: url("images/50f1b943d608ded5329e8271c6f499ab2a329659e1701ecec765e62b146a3b4942025ff4f7d758ece854fe9af98dfe4d8c82ba826a194bccc7477f_1280.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 273px;
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-4 {
  min-height: 273px;
  background-image: url("images/3e8a5e574f3a25f421d4274b3690e4b780cfbcac6f66e1def687c80cc90a53dbc8dc548e6ad86d03d152a7b6ee558c40cf32a518c97d97140f983e_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-8 {
  min-height: 273px;
  background-image: none;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  margin: 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 225px;
  }

  .u-section-4 .u-image-1 {
    min-height: 225px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 225px;
  }

  .u-section-4 .u-image-2 {
    min-height: 225px;
  }

  .u-section-4 .u-image-3 {
    min-height: 225px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 225px;
  }

  .u-section-4 .u-image-4 {
    min-height: 225px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 225px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
    order: 1;
  }

  .u-section-4 .u-image-1 {
    min-height: 345px;
    order: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
    order: 2;
  }

  .u-section-4 .u-image-2 {
    min-height: 345px;
    order: 3;
  }

  .u-section-4 .u-image-3 {
    min-height: 345px;
    order: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
    order: 1;
  }

  .u-section-4 .u-image-4 {
    min-height: 345px;
    order: 3;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 100px;
    order: 2;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1852px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 518px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    order: 3;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 518px;
    order: 2;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 518px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 518px;
    order: 2;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-8 {
    order: 3;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 326px;
  }

  .u-section-4 .u-image-2 {
    min-height: 326px;
  }

  .u-section-4 .u-image-3 {
    min-height: 326px;
  }

  .u-section-4 .u-image-4 {
    min-height: 326px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 200px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  margin: 28px 0 0 auto;
}